@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* TAGS STYLE */
h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
    line-height: 16px; 
}

ul li{
    padding: 0px;
    margin: 0px;
    list-style: none; 
}
a{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

/* GLOBAL STYLE */


/* HEADER STYLE START */
.nav_bar{
    background: rgba(146, 216, 187, 0.2);
}

.nav_item a{
    font-size: 20px;
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 16px;
    color: rgb(51, 51, 51) !important;
    position: relative;
}
.nav_item a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: rgb(51, 51, 51);
    transition: all linear .4s;
}
.nav_item a:hover::after{
    width: 100%;
}
.nav-icon a{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
    text-align: center;
    transition: all linear .4s;
}
.nav-icon a i{
    font-size: 20px;
    line-height: 35px;
    color: rgba(51, 51, 51, 0.973);
    transition: all linear .4s;
}
.nav-icon a:hover{
    background: rgba(51, 51, 51, 0.973);;
}
.nav-icon a:hover i{
    color: #fff;
}

/* HEADER STYLE END */